.CV {
  font-family: "Source Sans Pro";
  /* font-weight: 200; */
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  overflow-y: scroll;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100vh;
}